.container{
    position: relative;
    width: 100%;
    margin: auto;
    height: 1000px;
    background-color:#DFEBF6;
}
.header{
    width: 100%;
    overflow: hidden;
    background-color: #AAC7D8;
    display: flex;
}
.logo{
    width: 40%; 
    height: 100px;
    margin-top: 20px;
    overflow: hidden;
    
}
.logo h1{
    font-size: 35px;
    margin-left: 50px;
}
.menu{
    width: 60%;
    overflow: hidden;  
   margin-left: 800px;
}
.menu ul{
   list-style-type: none; 
   margin-left: auto;
   padding: 0;
   display: flex;
   gap: 99px;
  

}
.menu ul li a{
    text-decoration: none;
  display: flex;
  font-size: 30px;
  color: black;
  flex-direction: column;
  align-items: center;
  gap: 20px;

}
.image-box img{
    width: 400px;
    height: 470px;
    margin-left: 200px;
    margin-top: 200px;
    border-radius: 50%;
}
.text1{
    font-size: 40px;
    color: black;
    position: absolute;
    top: 350px;
    right: 400px;
    font-weight: bold;

}
.text2{
    font-size: 40px;
    color: black;
    position: absolute;
    top: 420px;
    right: 300px;
    font-weight: bold;
}
.text3{
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 500px;
    /* left: 870px; */
    margin-left: 1000px;
}
