.container{
    width: 100%;
    height: 1000px;
    background-color: rgb(6, 92, 14);
    overflow: hidden;
}
.menu-bar{
    width: 100%;
    height: auto;
    display: flex;
    background-color: aqua;
    overflow: hidden;
    float: right;
}
.menu ul li {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
   
}
.box{
    width: 100%;
    height: 500px;
    background-color: cyan;
}
.box-1{
    width: 100%;
    height: auto;
    background-color: brown;
}
.box-1-1{
    width: 70%;
    background-color: beige;
    overflow: hidden;

}