.container{
    position: relative;
    width: 100%;
    margin: auto;
    height: 1000px;
    background-color:white;
}
.header{
    width: 100%;
    overflow: hidden;
    background-color: white;
    display: flex;
}
.logo{
    width: 40%; 
    height: 100px;
    margin-top: 20px;
    overflow: hidden;
    
}
.logo h1{
    font-size: 35px;
    margin-left: 50px;
}
.menu{
    width: 60%;
    overflow: hidden;  
   margin-left: 800px;
}
.menu ul{
   list-style-type: none; 
   margin-left: auto;
   padding: 0;
   display: flex;
   gap: 99px;
  

}
.menu ul li a{
    text-decoration: none;
  display: flex;
  font-size: 30px;
  color: black;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  /* border: 1px solid;/ */
}
.box{

}
.box1{
    width: 50%;
    height: auto;
    margin-left: 45px;
}
.box1 p{
    
    background-color: blue;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
}
.me{
    margin-left:50px ;
}
.box1 {
    width: 50%;
    height: auto;
    margin-left: 45px;
}
.box1-1 p{
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    font-size: 20px;
    background-color: blue;
}
.me-1{
    margin-left:50px ;
    ;
}
.box2-1 p{
    margin-left: 45px;
}